@media (min-width: 575px){
    .home-testimonials .testimonials-content{padding: 4.5rem 4rem ;}
    .home-testimonials .testimonials-content blockquote{font-size: 2rem;}
    .facilities .pannel-content h5{font-size: 2rem;}
}
@media (min-width: 992px){
    .section-heading{text-align: left;}
    .facilities .panel-body img{height: 90vh; min-height: 700px; max-height: 1100px; object-fit: cover;}
    .facility-heading{position: absolute; right: 0; padding: 0rem 5rem 5rem 5rem; background-color: #fff; top: -6rem; max-width: 40rem; text-align: left;}
    .facility-heading .stats{margin-left: 0}
    .facilities .panel-body img{ width: 100%; height: 90vh; min-height: 700px; max-height: 1100px; object-fit: cover;}
    .facilities .panel-body figure::before{content:''; position: absolute; inset: 0; background-image: linear-gradient(to top, rgba(0,0,0,.7)10%, rgba(0,0,0,0)60%);}
    .facilities .pannel-content{position: absolute; bottom: 7rem; left: 0; width:100%; padding-block: 0}
    .facilities .pannel-content h5{font-size: 2.35rem;font-weight: 400; color: #fff;}
    .facilities .pannel-content p{font-weight: 300; color: #fff}
    .placement{padding-top: 9rem; margin-top: -3rem;}
    .quality-education-inner .right-panel{padding-left: 2rem}
    .happening .nav-tabs{justify-content: flex-start;}
    .home-testimonials .testimonials-content{margin-top: 0; height: 100%;}
    .home-testimonials .testimonials-content::after{right: -2rem; width: calc(25% + 1rem);}
    .home-testimonials .swiper :is(.swiper-button-prev.swiper-button-bottom, .swiper-button-next.swiper-button-bottom){left:25%; bottom: .3rem}
    .home-testimonials .testimonials-content::before, .home-testimonials .testimonials-content::after{border-color: #c6c6c6;}
    .home-testimonials .swiper-slide{padding-top: 2rem; padding-bottom: 1rem;}
    .notices .notice-slider::before{content:''; position: absolute; right: 0; width: 70px; height: 100%; background-color: #fff; top: 0; z-index: 2;}
}
@media (min-width: 1200px){
    .quality-education-inner .statistics{--grid-gap: 2rem}
    .quality-education-inner .statistics .stats:nth-child(5n)::after{display: none;}
    .news-thumb.before-el::before,.news-thumb.after-el::after{content:'';position: absolute;width: 500%;height: 100%;top: 0;}
    .news-thumb.before-el::before{right: calc(100% - 1px);}
    .news-thumb.after-el::after{left: 100%}
    .news-thumb.with-image.after-el::after{left: calc(100% + 10px);}
    .news-thumb.before-prime::before, .news-thumb.after-prime::after{background-color: var(--color-prime-dark);}
    .happening .max-content-lg .row>.col-xl-2{flex-grow: 1;}
    .happening .max-content-lg .row>.col-xl-5{flex-grow: 1;}
}
@media (min-width: 1600px){
    .quality-education-inner .left-panel .panel-content{column-gap: 3rem;}
    .happening .max-content-lg .row>.col-xl-2{width: 310px;}
    .happening .max-content-lg .row>.col-xl-5{width: 610px;}
    .news-thumb .news-title{font-size: 1.4rem;}
    .news-thumb:not(.with-image) .news-title{font-size: 1.5rem;}
    .news-thumb:not(.image-small) .thumb-text{padding: 3rem 2.5rem;}
    .news-thumb.image-small .thumb-text{padding: 2rem 1.5rem}
    
}
@media (min-width: 1700px){
    .happening .tab-accordian{padding-inline: 2rem}
}

@media (max-width: 1199.98px){
    .section-heading :is(h1, h2, h3, h4, h5, h6):is(.text-lg) span{font-size: 1.2em;}
    .facility-heading .stats span[data-count], .placement .stats span[data-count]{font-size: 8rem;}
    .quality-education-inner .statistics{grid-template-columns: repeat(3, 1fr);}
    .quality-education-inner .statistics .stats:nth-child(3n)::after, .quality-education-inner .statistics .stats:last-child::after{display: none;}
    .news-thumb.desktop-only{display: none;}
    .placement .stats span.desc{padding-right: 0; padding-left: 1.3rem}
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .quality-education-inner .left-panel .panel-content{margin-top: -3rem;padding-inline: 1rem}
    .placement-testimonials-container{padding: 1rem}
    .placement-testimonials-container::before{inset: 2.5rem 0rem; bottom: 1.5rem}
    .placement-testimonials-container .slide-item{padding: 3.5rem 1.5rem}
}
@media (max-width: 991.98px){
    .section-heading :is(h1, h2, h3, h4, h5, h6):is(.text-lg) span{font-size: 1em;}
    .section-heading a.btn-circle{margin-inline: auto;}
    .section-heading.after-el::after{left: 50%; transform: translateX(-50%);}
    .home-academics_left-panel{text-align: center;}
    .home-academics_left-panel .btn-prime{margin-inline: auto;}
    .home-academics .btn-white{margin-inline: auto;}
    .tab-accordian.tab-content>.tab-pane{display: block;}
    .quality-education-inner .section-heading.after-el{padding-bottom: 0;}
    .quality-education-inner .section-heading.after-el::after{display: none;}
    .quality-education-inner .left-panel .panel-content{align-items: center; margin-bottom: 3rem; margin-top: 0; column-gap: 1rem; justify-content: center;}
    .quality-education .left-panel figure{max-width: 180px;}
    .quality-education-inner .left-panel .panel-text{font-size: 1.2rem; font-weight: 700;padding-inline: 2rem; max-width: 300px;}
    .notices{flex-direction: column; row-gap: 2rem; text-align: center;}
    .notices .slide-item{padding-right: 0; padding-bottom: 3.5rem;}
    .notices :is(.swiper-button-prev, .swiper-button-next){bottom: 0; top: auto; left: 50%}
    .notices .swiper-button-prev{transform: translateX(-110%);}
    .notices .swiper-button-next{transform: translateX(50%);}
    :is(.facility-heading, .placement) .stats.stats-lg{margin-inline: auto;}
    .happening .section-heading{max-width:100%}
    .happening .tab-accordian{margin-top: 5rem}
    /* .quality-education-inner{ background-color: transparent;} */
    .accrediation{text-align: center;}
    .accrediation .row{justify-content: center;}
    .accrediation h5{margin-bottom: 2rem;}
    .facilities{padding-top: 0}

}


@media (max-width: 575px){
    .quality-education{padding-top: 15px}
    .quality-education-inner{padding-top: 4rem}
    /* .quality-education-inner .left-panel .panel-content{margin-top: -3rem; flex-direction: column; align-items: center; row-gap: 2rem;} */
    .quality-education-inner .left-panel .panel-text{padding-inline: 0rem;max-width: 160px;}
    .quality-education-inner .left-panel .panel-content{padding-inline: 0rem; justify-content: center; column-gap: 1.5rem;}
    .quality-education-inner .statistics{grid-template-columns: repeat(1, 1fr);}
    .quality-education-inner .statistics .stats::after{display: none;}
    .quality-education-inner .statistics{display: none;}
    .home-testimonials .nav-tabs{flex-wrap: wrap; max-width: 100%;}
    .academics-thumb{min-height: auto}
    .academics-thumb figure{display: none;}
    .academics-thumb .thumb-text{flex-direction: row; justify-content: space-between; align-items: center; padding: 1.5rem 1.5rem}
    .academics-thumb .thumb-text .title{width: auto}
    .academics-thumb .thumb-text .desc{display: none;}
    .placement-testimonials-container{padding-inline: .7rem}
    .placement-testimonials-container .slide-item{padding: 3.5rem 2rem}
    .placement-testimonials-container::before{inset: 2.5rem 0rem;}
    .recruiters{padding-top: 4rem}
    .quality-education-inner .accrediation .row{--bs-gutter-x: 2rem}
    .happening .nav-tabs .nav-item{padding-inline: .8rem}
    .quality-education .left-panel .sec-image{max-width: 150px;}
}