@media (min-width: 575px){
    .happening-thumb .happening-content{padding-inline: 1.5rem}
    .work-with-us .bg-yellow{padding: 4rem; text-align: left;}
    .send-cv a{font-size: 1.7rem;}
    .award-box{padding-inline: 2.5rem}
    .reference p strong{display: inline; margin-top: 0rem;}
    .overview .row .row{--bs-gutter-x: 3.33rem}

}/*767px-css-end*/
@media (min-width: 768px){
    .inner-title .section-heading .section-title{font-size: 2.4rem;}
    .featured-news .news-text .news-title{font-size: 2.3rem;}
    .faculty_detail_top h2{font-size: 1.7rem;}
    .course_name h3{font-size: 1.3rem;}
    .college-list, .course_name{padding-inline: 2rem}
    .course_content .row>.col-md-6:nth-child(odd) .college-list::after{top: 1rem; left: auto; width: 1px; height: calc(100% - 2rem); }
    .courses_offered_top_sec blockquote{font-size: 1.7rem}
    /* :is(.vision,.mission){margin-inline: -3rem} */
     /* ================= About Us Overview start-UI14041994-28-07-2023 ================== */
    .value-and-strength .value_stleft ul {margin-bottom: 0.9rem;}
    section.top-section {padding-top: 3rem;}
    .about-us-overview .container-sm-max {margin-top: 2rem;}
    .top-section.about-us-overview{padding-bottom: 2rem;}
    .mission ul li{padding-left: 1.5rem}
    .mission ul li::after{height: 2px; width: 1.33rem; left: 1.5rem}
    .mission ul li::before{display: block;}
    .mission ul li{text-align: left;}
	.facility-content ul {
    --column: 2;
}
}/*991px-css-end*/
@media (min-width: 992px){

    .overview .left-content{padding-right: 3rem; margin-block: 4rem; text-align: left;}
    .overview .row{--bs-gutter-x: 2.33rem}
    .overview .right-content p{text-align: left;}

    .mission ul{--columns: 2;}

    .featured-news .news-text .news-title{font-size: 2.6rem;}
    .happening-thumb:not(.with-image) .happening-content .happening-title{font-size: 1.7rem;}
    .press-releases .docs:first-child{padding-inline: 0}
    .press-releases .docs:first-child .doc-desc{font-size: 2.1rem;}
    .happening-heading .timing{margin-bottom: 1.7rem;}
    .happening-heading .happening-title{font-size: 2.6rem;}
    .colleges .nav-tabs{justify-content: start;}
    #college-accordion .college-title{font-size: 2rem;}
    .colleges{margin-top: -4rem}
    .send-cv .heading{width:min(80%, 700px);}
    .faculty_detail_mid_right{margin-top: -2rem}
    .faculty_detail_top h2{font-size: 2.65rem;}
    .faculty_detail_top h3{font-size: 1.3rem; margin-top: 0}
    .faculty_detail_top{text-align: left;}
    .qualification-area.phone-part{display: flex; flex-wrap:wrap; justify-content: space-between; row-gap: 1.3rem;}
    .phone-area, .email-area, .linkedin-area{display: flex;flex-wrap: wrap;align-items: center;}
    .qualification-area{padding-block: 1rem;}
    .qualification-area:first-child{padding-top: 0}
    .phone-area{margin-bottom: 0rem;}
    .brief-profile a{justify-content: flex-start;}
    .faculty_detail_mid_right{padding: 0 3rem 3rem 3rem;}
    .reference-content p:first-child{max-width: auto; margin-inline: 0;}
    .faculty_detail_top:before{content: ""; position: absolute;left: 0; right: 0;top: 180px;background-color: #063142; width: 100%; height: 320px;z-index: -1;}
    .faculty_detail_mid_left{margin-top: -2rem;}
    .faculty_detail_mid_left figure::before{display: none;}
    .course-select-panel .row{--bs-gutter-x: 3rem;}
    .course_name h3{font-size: 1.5rem;}
    .colleges .accordion {margin-top: 3rem}
     /* ================= About Us Overview start-UI14041994-28-07-2023 ================== */
    .laterother_wrap .later_content {padding-left: 1.22rem;}
    .laterother_wrap .later_content blockquote {margin-bottom: 1rem;}
    .laterother_wrap.row .align-items-center {align-items: inherit;}
    .gray_bg.laterother_wrap figure {height: 100%;margin: 0;}
    .gray_bg.laterother_wrap figure img{width:100%; height: 100%;}
    .objective_wrap .objective_content {padding-right: 2rem;}
    .slider_overwrap blockquote {padding: 1rem 0rem 1rem 2.2rem;}
.bike-rally {text-align: left;}
.bike-rally .stats {isolation: isolate; margin-left: 0;}
.bike-rally .stats [data-count]::after { content: ''; position: absolute;left: 100%;top: 52%;width: 200%;
    height: 1px;background-color: #dbdbdb; z-index: -1;}
	.bike-rally figure {
    position: relative;
}
}/*1199px-css-end*/
@media (min-width: 1200px){
    .inner-title .section-heading .section-title{font-size: 2.67rem;}
    .featured-news .col-xl-11::before{transform: translateX(70px);}
    .featured-news figure{padding-block: 3rem}
    .featured-news .news-text{padding-right: 0}
    .happening-details .happening-content .col-xl-8{padding-right: 1.5rem}
    .happening-details .happening-content .col-xl-4{padding-left: 1.5rem}
    .events-list .happening-thumb:not(.with-image) .happening-content{padding: 3rem;}
    .events-list .happening-thumb:not(.with-image) .happening-content::after{left: 3rem; bottom: 3rem}
    .events-list .happening-thumb:not(.with-image) .happening-content .happening-title{font-size: 2.3rem; margin-bottom: 2.5rem;}
    .featured-event{padding-bottom: 3rem;}
    .featured-event .event-text::before{width: 60%}
    .featured-event .event-text{padding: 3rem; padding-bottom: 0; padding-right: 0; margin-top:3rem;}
    .press-releases .docs:first-child .doc-desc{font-size: 2.6rem;}
    .happening-list .form .row>*{flex-grow: 0;}
    .faculty_detail_top:before{top: 200px; height: 360px}
    .courses_offered_top_sec blockquote{font-size: 2rem}
    /* ================= About Us Overview start-UI14041994-28-07-2023 ================== */
    .pb-0.vision-mission {padding-top: 0;}
    .value-and-strength blockquote {margin-bottom: 2rem;}
    .laterother_wrap .later_content {padding-left: 2.22rem;}
    .pb-0.vision-mission{padding-top: 4rem}
	.golden-jublee .golden-jublee-inner {flex-direction: row;row-gap: 0;column-gap: 8rem;}
	.golden-jublee .golden-jublee-inner {text-align: left;}
	.golden-jublee .golden-jublee-inner .left-content::after {content: '';position: absolute;right: -4rem;top: 0;height: 100%;width: 1px;background: #dbdbdb;}
	.inner-header ul {column-gap: 2rem;}
.bord-of-directors .row {--bs-gutter-x: 3rem;}
} /*1399px-css-end*/
@media (min-width: 1400px){
    .overview .left-content{padding-right: 6rem;}
    .featured-news .col-xl-11::before{transform: translateX(110px);}
    .events-list .happening-thumb:not(.with-image) .happening-content .happening-title{font-size: 2.67rem; margin-bottom: 3rem;}
    .featured-event .row .row{align-items: flex-end;}
    .contact-thumb{padding: 3rem 2rem; text-align: center;}
    .contact-thumb p{font-size: 1.17rem;}
    .contact-thumb .icon img{max-width: 2rem; max-height: 2rem;}
    .colleges{margin-top: -14rem}
    .faculty_detail_top:before{top: 240px; height: 410px}
    .course-select-panel .row{--bs-gutter-x: 6rem;}
/* ================= About Us Overview start-UI14041994-28-07-2023 ================== */
.inner-header ul li a {font-size: 1.25rem;}
   
}/*1649px-css-end*/
@media (min-width: 1600px){
.featured-news .col-xl-11::before{transform: translateX(150px);}
main{margin-top: 140px}
.inner-header ul li a {font-size: 1.45rem;}
}
@media (hover: hover){
    .nav-tabs .nav-item a:hover:after{transform: scaleX(1);}
}



@media (max-width: 1399px){
.stats-xl span[data-count],.award-facts blockquote {font-size: 7rem;}
.workshop-facts span[data-count] {font-size: 70px;}
.founder-left-content {margin-left: 0rem;}
.founder-detail p,.stats span.desc,p,.founder-development li span {font-size: 14px;}
.founder-detail { margin-top: 1rem;}
.founder-right-content:after {right: 2rem;}
.facility-text {max-width: 100%;}
.founder-fact {padding-left: 1rem;}
.founder-text {width: 100%;}
.founder-development {padding-left: 0;margin-left: 0;}
.founder-development li span {margin-top: 0rem;}
.workshop-right {padding-left: 0rem;}
.shops-left {padding-right: 4rem;}
.grp-discussion {margin-top: 3rem;}
.offered-courses .text-yellow:after {left: 100%;}
.medical-left-content {padding-right: 20px;margin-bottom: 25px;}
.medical-facilities-right{padding-left: 20px;}
.facility-contact-area {padding: 25px 25px;margin-top: 27px;}
}

@media (max-width: 1199px){
.milestone-right {padding-left: 30px;padding-right: 0;}
.milestone-mid .stats-xl span[data-count] {font-size: 6rem;}
.milestone-mid p {max-width: 100%;}
.milstone-gallery p {max-width: 100%;margin-top: 10px;padding-left: 10px;}
.milstone-gallery abbr {font-size: 15px;padding-left: 12px;}
.milstone-gallery {min-height: 450px;}
.milestone-botm {padding: 5rem 0;}
.legacy-text {max-width: 100%;}
.chairman_profile .chprof_content {padding:0 2rem;}
.chairman_profile .chprof_content::before,.facilities-innovation-top:before,.facility-engineering-content.innovation2 p:before{display:none;}
.faculties_cont {padding: 1rem;}
.faculties_cont span {font-size: 1.1rem;}
.acc_recognitions ul {grid-column-gap: 2rem; grid-row-gap: 3rem;}
.acc_recognitions ul li figure {height: 7rem;}
.quad-bike blockquote {margin-bottom: 2rem;}
.quad-bike {padding-top: 0rem; padding-left: 1rem;}
.karmyogi-awards {padding-top: 0;}
.tech-camp-right {padding: 0 0rem;}
.facilities-innovation-right,.facility-engineering-content {padding-left: 10px;}
.facilities-innovation-right p {padding-bottom: 0rem;}
.facilities-innovation-mid {padding: 5rem 0 4rem;}
.innovation-labs {padding-top: 0rem;padding-bottom: 3rem;}
.facility-engineering-content.innovation {padding: 1.5rem 0 0 0;}
.list-unstyled.custom-bullets.bullet-yellow.flex-list2 {margin-bottom: 0px;}
.facility-engineering-content.innovation2 p {margin-bottom: 2rem;}
.innovation-botm-right {padding-left: 0rem;}
.facilities-innovation-botm {padding: 5rem 0;}
.facility-engineering-content.innovation blockquote:before {left: auto;}
.workshop-text {margin: 2rem 0;}
.shops-left {padding-right: 0rem;}
.workshop4 blockquote {padding: 1rem 0;}
.section-heading {margin-bottom: 2rem;}
.bike-rally .stats [data-count]::after{display:none;}
.kusumright1 {padding-left: 0rem;}
.kusumraj-library .tab-content {margin-top: 2rem;}
.kusumraj-table .section-heading, .gurukul-boys .section-heading {padding-top: 3rem;}
.kusum {border-left: 0px solid #e3e3e3;padding-left: 0;margin-left: 0rem;}
.value-and-strength .value_stleft p {padding-right: 0rem; margin-bottom: 3rem;}
.value-and-strength blockquote {margin-bottom: 0rem;}
.facilities-sports-bottom-sec {margin: 0rem 0;}
.left-content-sports {padding-right: 20px;}
.kusumraj-library.sports-tabing {padding: 5rem 0;}
.top-section.facilities-sports h4 {max-width: 80%;}
.overview .left-content{padding-right: 0rem;margin-block: 0rem;}
.overview .right-content p {margin-top: 0;}
.container.overview {padding-right: var(--bs-gutter-x,.75rem); padding-left: var(--bs-gutter-x,.75rem);}
.facility-fact-school{margin: 2rem 0;}
.overview-text {padding-right: 0;}
.transport-botm {padding: 100px 0;}
.transport-botm img {margin-top: 0;}
.trasport-botm-left {padding-right: 40px;}
.trasport-fact {padding: 50px 0 0px;padding-right: var(--bs-gutter-x,.75rem); padding-left: var(--bs-gutter-x,.75rem);}
.top-section.transport-overview h4 {max-width: 80%;margin: 0px auto 50px;}
}

@media (max-width: 991px){
.impact-stories .tab-content>.tab-pane,.kusumraj-section .tab-content>.tab-pane {display: block;opacity: 1;  }
.kusumraj-section .accordion-button:not(.collapsed) {color: #fff;background-color: var(--color-yellow); box-shadow: none;}
.value-and-strength .value_stleft p,.objective_wrap .objective_content {padding-right: 0rem;}
.laterother_wrap .later_content{padding-left: 0rem;}
.objective_wrap .grid2_column {margin-top: 1.2rem;}
.slider_overwrap blockquote {padding: 3rem 0 0 0; border-left: 0px solid #dfdfdf; }
.overview .row .stats,.stats.stats-xl,.overview .row .stats::before,.milestone-mid .stats.stats-xl {width: 100%;}
.counter_wrap{height: auto;}
.value_stleft .img-fit {height: auto;}
.about_overviw_slider .slide-item p{max-width: 100%;}
.milestone-right {padding-left: 0;padding-top: 2rem;}
.milestone-mid .stats.stats-xl:before,.trasport-fact-left::before{display:none;}
.legacy-text {max-width: 100%;margin-bottom: 3rem;}
.chairman_profile .chairman_row::before {top: 25%;}
.chairman_profile .chprof_content {padding: 0rem;padding-top: 2rem;}
.extera_para {padding: 2rem 0 0rem;}
.facultymodal .modal-body {padding: 1rem;}
.faculty-details img {width: 100%;}
.accreditation_wrap ul {grid-template-columns: repeat(2, 1fr);grid-row-gap: 1rem; padding: 3rem 0 2rem;}
.polytechnic_nashik {padding: 4rem 0 5rem;}
.polytechnic_nashik figure {margin-top: 2rem;}
.polytechnic_nashik figure img{height: auto;}
.best_student ul {grid-column-gap: 3rem;}
.cenersm_heading,.cenerlg_heading {padding: 0 0rem;}
.best_student {padding: 4rem 0 1rem;}
.acc_patent .accpatent_content {padding-left: 0;}
.agriculture_colleges .cenerlg_heading blockquote span { display: inline;}
.agriculture_colleges ul {grid-template-columns: repeat(2, 1fr);grid-column-gap: 1rem;grid-row-gap: 2rem;}
.agriculture_colleges {padding: 3rem 0 5rem 0;}
.acc_hackathon { padding: 2rem 0 1rem;}
.institute blockquote {max-width: 100%;padding: 1.5rem;position: relative;bottom: 0; left: 0;    font-size: 1.4rem;}
.award-table {margin-top: 0;padding-top: 4rem;}
.quad-torc {padding-top: 0;padding-bottom: 3rem;}
.eng-school {margin-top: 2rem;}
.quad-bike {padding-left: 0rem;}
.awards1 {padding-top: 0;}
.award-people {margin-bottom: 2rem;}
.tech-camp-right,.facility-text-found,.medical-facilities-right {margin-top: 1rem;}
.tech-camp {margin-top: 2rem;}
.facilities-innovation-right, .facility-engineering-content,.kala-text,.facility-text{padding-left: 0;padding-top: 1rem;}
.facilities-innovation-mid h4 {max-width: 100%;}
.library-infrastructure.engineering {padding: 4rem 0;}
.list-unstyled.custom-bullets.bullet-yellow.flex-list2 li {padding-left: 1rem;padding-right: 0.5rem;margin-bottom: 30px;}
.facility-engineering-content.innovation {padding: 0rem 0 0 0;}
.facility-engineering-content.innovation blockquote {margin-bottom: 20px;}
.innovation-botm-right,.innovation-botm-left {margin-top: 0rem;}
.facilities-innovation-botm h4 {margin-bottom: 2rem;}
.shops-left {margin-bottom: 2rem;}
.workshop3.bike-rally {text-align: left;}
.archietect-inner{margin: 0rem;}
.mb-5 {margin-bottom: 2rem!important;}
.shop7 {margin-bottom: 1rem;}
.stats span[data-count] {margin-bottom: 0rem;}
.workshop4,.test-centre-left, .unnat-bharat-rally ul {margin-top: 1rem;}
.lib-center {margin-top: 0; margin-bottom: 1.5rem;}
.value_stleft li figure {margin: 0;}
section {padding: 4rem 0;}
.value-and-strength .value_stleft p {margin-bottom: 2rem;}
.top-section.facilities-sports h4 {max-width: 100%;margin:0rem auto 0rem;}
.facilities-sports {padding-bottom: 5rem;}
.facility-text.sports {max-width: 100%;margin-bottom: 1rem;}
.left-content-sports {padding-right: 0;}
.left-content-sports p {margin-bottom: 50px;}
.left-content-sports p:before {bottom: -25px;}
.kusumraj-library .accordion-item {margin-bottom: 1rem;}
.kusumright1 h4 {margin-bottom: 0.5rem;}
.gymkhana .col-lg-6 {margin: 0;}
.play-gym.play-gym1 {margin-top: 0;}
.medical-facilities-right {padding-left: 0;}
.medical-mid {padding: 0px 0;}
.medical-mid .row {align-items: center;}
.right-content {margin-top: 2rem;padding-right: 0px}
.emergency-num-detail {margin-bottom: 20px;}
.medical-botm h4 {margin-bottom: 50px;}
.top-section.transport-overview h4 {max-width: 100%;}
.trasport-fact-right {padding-left: 0;    margin-top: 1rem;}
.transport-botm {padding: 30px 0 80px 0;}
.right-content.trasport-botm-left {margin-bottom: 2rem;}
.trasport-fact {padding: 30px 0 0px;}
.gurukul-img {margin-bottom: 5rem;}
.kusumright1.other {padding-left: 0rem;}
.facility-content.other h4 {margin-bottom: 10px;margin-top: 10px;}
.facility-content.other p.pdb-20 {padding-bottom: 10px;}
.facility-content.other p.pdt-50 {padding-top: 10px;}
.kusumraj-library.other-facilities-tabing .accordion-body{padding-bottom:1.5rem!important;}
.kusumraj-library.other-facilities-tabing {margin-top: 50px;}
}

@media (max-width:767px){
.accreditation_wrap .logo_content figure, .acc_naclogo .logo_content figure {width: 20rem;}
.acc_recognitions ul {grid-template-columns: repeat(2, 1fr);}
.section.top-section {padding-bottom: 1rem;}
.awards .col-md-6:first-child .institute {margin-bottom: 2rem;}
.institute1 {margin-bottom: 3rem;}
section {padding: 3rem 0;}
.list-unstyled.custom-bullets.bullet-yellow.flex-list2 li {width: 50%;}
.facilities-innovation-right h4, .facilities-innovation-right p {padding-bottom: 0rem;}
.font-16 {line-height: 24px;}

}


@media (max-width: 575px){
.chairman_profile .chairman_row::before {top: 15%;height: 15rem;}
.inner-title .section-heading .section-title {font-size: 1.7rem;}
.acc_recognitions ul {grid-template-columns: repeat(1, 1fr);text-align: center;}
.acc_recognitions ul li::before {right: 0;margin: 0 auto;}
.accreditation_wrap .logo_content, .acc_naclogo .logo_content {flex-direction: column;text-align: center;}
.accreditation_wrap .logo_content blockquote, .acc_naclogo .logo_content blockquote {padding-left: 0rem;}
.accreditation_wrap ul {padding: 0rem 0 0rem;}
.polytechnic_nashik .polnas_content {padding-right: 0rem; height: auto;}
.best_student ul ,.agriculture_colleges ul,.accreditation_wrap ul{grid-column-gap: 0rem;text-align: center; grid-template-columns: repeat(1, 1fr);}
.team_member .comnul_list li {width: 50%;padding-right: 0rem;}
.team_member {margin: 2rem 0;}
.agriculture_colleges ul li::after,.accreditation_wrap ul li::before {right: 0; margin: 0 auto;}
.inovation-lab-part {padding-bottom: 1rem;margin-top: 1rem;}
.stats-xl span[data-count], .award-facts blockquote {font-size: 5rem;}
.workshop-facts span[data-count] {font-size: 40px;}
.workshop-facts {height: auto;padding: 2rem 0;margin-top: 1rem;}
.value_stleft {margin-bottom: 1rem;}
.value-and-strength .value_stleft ul {grid-template-columns: repeat(1, 1fr);grid-gap: 1rem;}
.facility-fact-school img {margin-bottom: 1rem;}
.facility-fact-school {margin: 2rem 0 0 0;}
}

