<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="campusname" value="/engineering"/>
    <add key="collegeid" value="1"/>
  </appSettings>
  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticRewritesbelagavi">
      <add key="/engineering/" value="/engineering/index.aspx"/>
        </rewriteMap>
        <rewriteMap name="StaticRedirectsbelagavi">
          <add value="/engineering/" key="/engineering/index.aspx"/>
          <add value="/engineering/" key="/engineering"/>
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Rulebelagavi" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{StaticRewritesbelagavi:{URL}}" pattern="(.+)"/>
          </conditions>
          <action type="Rewrite" url="{C:1}" appendQueryString="True"/>
        </rule>
        <rule name="Redirect Rulebelagavi" stopProcessing="true">
          <match url=".*"/>
          <conditions>
            <add input="{StaticRedirectsbelagavi:{REQUEST_URI}}" pattern="(.+)"/>
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="False" redirectType="Permanent"/>
        </rule>

      
       
        <rule name="Rewrite for spa news detail outer with param 2">
          <match url="^news-detail(.*)/(.*)$"/>
          <action type="Rewrite" url="/engineering/newsdetail.aspx?mpgid=159&amp;pgidtrail=160&amp;ptitle={R:1}&amp;eventsid={R:2}"/>
        </rule>

        <rule name="Rewrite for spa event detail outer with param 2">
          <match url="^events-detail(.*)/(.*)$"/>
          <action type="Rewrite" url="/engineering/newsdetail.aspx?mpgid=159&amp;pgidtrail=174&amp;ptitle={R:1}&amp;eventsid={R:2}"/>
        </rule>
        <rule name="Rewrite for activity detail outer with param 2">
          <match url="^activity-detail(.*)/(.*)$"/>
          <action type="Rewrite" url="/engineering/newsdetail.aspx?mpgid=159&amp;pgidtrail=174&amp;ptitle={R:1}&amp;eventsid={R:2}"/>
        </rule>

        <rule name="Rewrite for spa dept-news detail outer with param 3">
          <match url="^department/news-detail(.*)/(.*)/(.*)$"/>
          <action type="Rewrite" url="/engineering/dept-news-details.aspx?mpgid=32&amp;pgidtrail=133&amp;ptitle={R:1}&amp;newsid={R:2}&amp;deptid={R:3}"/>
        </rule>

        <rule name="Rewrite for spa dept-event detail outer with param 3">
          <match url="^department/events-detail(.*)/(.*)/(.*)$"/>
          <action type="Rewrite" url="/engineering/dept-news-details.aspx?mpgid=32&amp;pgidtrail=34&amp;ptitle={R:1}&amp;eventsid={R:2}&amp;deptid={R:3}"/>
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>
